cloudflare_api_token = "cloudflare_api_token"
cloudflare_zone_id   = "zone_id_c_dashboard"
domain               = "your_domain"
server_ip            = "ip_sever"
server_api_key        = "your_api_key"
server_ssh_key        = "your_ssh_pub_key"