<!DOCTYPE html>
<html lang="ru" class="graphite">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MediaTracker{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
    <script>
        // Restore theme from localStorage immediately
        (function() {
            var theme = localStorage.getItem('mediatracker-theme');
            if (theme) {
                document.documentElement.className = theme;
            }
        })();
    </script>
</head>
<body>
    {% block body %}{% endblock %}
    <script>
        function setTheme(t) {
            localStorage.setItem('mediatracker-theme', t);
            document.documentElement.className = t;
        }
    </script>
</body>
</html>
